* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
}

.website {
  width: 100vw;
}

header {
  height: auto;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
}

.button-menu {
  border: none;
  background-color: transparent;
  font-size: 30px;
}

main {
  height: auto;
  width: 100%;
  padding: 90px 0px 80px;
}

/* message styles */
.chat-box li {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.chat-box p {
  width: 100%;
  margin: 5px 2px;
  line-height: 18px;
  word-wrap: break-word;
}

.bold {
  font-weight: bold;
}

.time {
  color: #aaaaaa;
  margin-right: 5px;
}

.status {
  background-color: #e5e5e5;
}

.message {
  background-color: #ffffff;
}

.private_message {
  background-color: #ffdedf;
}

/* beginning bottom bar */
.bottom-bar {
  width: 100%;
  height: auto;
  display: flex;
  position: fixed;
  flex-direction: column;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
}

.message-field {
  display: flex;
  width: 100%;
}

.message-field input {
  font-size: 14px;
  flex-grow: 3;
  height: 35px;
  border: none;
  margin-bottom: 5px;
}

.message-field input::placeholder {
  font-style: italic;
  color: #000;
}

.message-field input:focus {
  outline: none;
}

.message-field button {
  flex-grow: 1;
  border: none;
  background-color: transparent;
}

.recipient {
  font-size: 12px;
  font-weight: 300;
  color: #aaaaaa;
}

/* side-menu styles */
.side-menu {
  visibility: hidden;
  width: 75vw;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -300;
  z-index: 4;
  padding-left: 20px;
  background-color: #ffffff;
  font-size: 16px;
  transition: all 300ms linear;
}

.side-menu p {
  text-align: center;
  font-weight: 700;
  padding: 20px;
}

.contact li,
.visibility-settings button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 10px 0;
}

.visibility-settings button {
  border: none;
  background-color: transparent;
  font-size: 15px;
  padding: 0;
  width: 100%;
}

.side-menu span {
  display: flex;
  align-items: center;
  width: 100%;
}

.side-menu ion-icon {
  font-size: 20px;
  margin-right: 3px;
}
.side-menu span + ion-icon {
  opacity: 0;
  color: #28bb25;
  font-size: 20px;
}

.selected span + ion-icon {
  opacity: 1;
}

.overlay {
  visibility: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 300ms ease-in;
}

.side-menu.active,
.overlay.active {
  visibility: initial;
  right: 0;
}
